<app-sidebar></app-sidebar>
<div id="page-wrapper" class="gray-bg">
  <app-header></app-header>

  <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
          <h2>Liste des comptes activés</h2>
      </div>
      <div class="col-lg-2">

      </div>
  </div>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Chargement...</p>
  </ngx-spinner>
  <div class="wrapper wrapper-content  animated fadeInRight">
      <div class="ibox-content">
        <div  class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort width="100%">
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%"> Phone </th>
            <td mat-cell *matCellDef="let element"> {{element.key}} </td>
          </ng-container>
           <ng-container matColumnDef="cin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%"> CIN </th>
            <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
          </ng-container> 
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%"> Nom </th>
            <td mat-cell *matCellDef="let element"> {{element.infos.name}} </td>
          </ng-container>
          <ng-container matColumnDef="dateNaiss">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%"> Date de naissance </th>
            <td mat-cell *matCellDef="let element"> {{element.infos.birthDate | date:'d/MM/yyyy' }} </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%"> Date d'entrée </th>
            <td mat-cell *matCellDef="let element"> {{element.infos.dateIssue | date:'dd/MM/yyyy' }} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[100, 200, 300]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
  </div>

  <app-footer></app-footer>
</div>