<nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <img alt="image" class="rounded-circle" src="assets/img/profile_small.png" style="width: 44%;">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold">{{email}}</span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
                            <li><a class="dropdown-item" (click)="onClickLogout()">Déconnexion</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        FINCRM
                    </div>
                </li>
                <li>
                    <a routerLink="/dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">Demandes</span></a>
                </li>
                <li>
                    <a routerLink="/waiting"><i class="fa fa-check"></i> <span class="nav-label">Compte activé</span></a>
                </li>
            </ul>

        </div>
    </nav>